<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Product List</title>
</head>
<body>
	<div class="container">
		<h2>Employee List</h2>
		<a th:href="@{/show-form-add}"  class="btn btn-primary">Add Employee</a>
		<table border="1" class="table table-bordered table-striped">
			<thead>
				<th>Namee</th>
				<th>Email</th>
				<th>Department</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.name}"></td>
					<td th:text="${employee.email}"></td>
					<td th:text="${employee.department.name}"></td>
					<td>
						<a th:href="@{/update-employee(id=${employee.id})}" class="btn btn-primary">Update</a>
						<a th:href="@{/delete-employee(id=${employee.id})}" class="btn btn-warning">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>